<!DOCTYPE html>
<html>
	<head>
		<title>[title]</title>
		<!--
			<link rel="stylesheet" type="text/css" href="../assets/css/ejemplo.css">
			
			Esta sería la fomrma básica de incluir un JS [JavaScript]
			Solamente hay que cambiar el nombre del archivo por el que corresponde,
			tener en cuenta de que puede estar incluído dentro de otras carpetas.
		-->
		<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-4.1.1/bootstrap.min.css">
	</head>
	<body>
		[body]
		<!--
			<script type="text/javascript" src="../assets/js/ejemplo.js"></script>
			
			Esta sería la fomrma básica de incluir un CSS [Cascade Style Sheets]
			Solamente hay que cambiar el nombre del archivo por el que corresponde,
			tener en cuenta de que puede estar incluído dentro de otras carpetas.
		-->
		<script type="text/javascript" src="../assets/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="../assets/js/popper-1.14.3.min.js"></script>
		<script type="text/javascript" src="../assets/js/bootstrap-4.1.1/bootstrap.min.js"></script>
	</body>
</html>